.form-container {
  background: white;
  width: 84%;
  justify-self: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
}

.static-fields-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.675rem;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 1rem; /* Espaciado entre columnas y filas */
}

.selects-grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Espaciado entre los acordeones */
}