.Enterprise__formCard {
  width: 88%;
  display: grid;
  background-color: #fff;
  border-radius: .375rem;
  box-shadow: rgba(10, 10, 10, 0.3) 0 0 2px 0;
  justify-self: center;
  padding-bottom: 2rem;
}

.Enterprise__oneColumn {
  display: grid;
}

.Enterprise__oneColumn .padded {
  background-color: aqua;
}

.Enterprise__twoColumns {
  justify-self: center;
  display: grid;
  grid-template-columns: 50% 50%;
}

.Enterprise__columnItem {
  width: 65%;
  justify-self: center;
}

.Enterprise__labelStyle {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
}

.Enterprise__btn {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  justify-self: center;
  place-items: center;
  padding: .65rem 2.75rem;
  border-style: none;
  border-radius: 0.375rem;
  color: #2a2a2a;
  background-color: transparent;
  border: 2px solid #2a2a2a;
  font-size: 1.125em;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}