.Nav__navigation {
  width: 90%;
  height: 80%;
  display: grid;
  grid-auto-flow: column;
  place-self: center;
  place-items: center;
  text-align: center;
  box-shadow: rgba(10, 10, 10, 0.4) 0 0 2px 0;
}

.Nav__navItem {
  width: 90%;
  justify-self: center;
  border-right: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
}