@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;
}

select,
textarea,
input[type="text"],
input[type="number"] {
  display: block;
  justify-self: center;
  width: 80%;
  padding: 8px 4px;
  margin: 1rem 0;
  border: 1px solid #6a6a6a;
  border-radius: .375rem;
  box-shadow: rgba(10, 10, 10, 0.3) 0 0 2px 0;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  font-weight: 600;
  padding: .5rem 1rem;
  margin: 1rem .5rem;
  border: 2px solid #27374d;
  border-radius: .375rem;
  background-color: #8a8a8a;
}