.form-container {
  width: 70%;
  justify-self: center;
  padding: 1rem 2.25rem;
  border-radius: 10px;
  box-shadow: rgba(10, 10, 10, 0.3) 0 2px 5px 0;
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}
